<div class="container">
    <div class="row">
        <div class="col-sm-8 offset-sm-2 textCentered padding10">
            <h1> Dobrodosli! </h1>
        </div>
    </div>
    <div class="row">
            <div class="col-sm-8 offset-sm-2 textCentered padding10">
                <span> Najpopularnije iz ponude: </span>
            </div>
        </div>
    <div id="jela" class="row justify-content-around">
        <div *ngFor="let jelo of hrana"
        class="col-sm-3 textCentered padding10 jela" 
        (mouseover)="onJeloMouseOver(jelo.name)"
        (mouseleave)="onJeloMouseLeave()">
        <!--(click)="onJeloClick(jelo)"-->
            <div class="foodHome">
                <!-- <img src="../../assets/foodhome/{{jelo.name}}.jpg"> -->
                <img [src]="jelo.imgUrl">
                <app-food-overlay 
                [open]="foodOverlayOpen"
                [isLoged]="isLoged"
                [jelo]="jelo"
                [hoverOver]="hoverOverJelo"></app-food-overlay>
            </div>
        </div>
    </div>
</div>

