.container{
    font-size: 1.7rem;
}
.row {
    margin-bottom: 10px;
}

.testdiv{
    height: 100px;
    width: 100px;
    border: 1px solid black;
}

.foodHome{
    position: relative;
    height: 300px;
    max-width: 100%;
}

img {
    position: relative;
    height: 100%;
    max-height: 300px;
    max-width: 100%;
    overflow: hidden;
}

.jela:hover {
    background-color: rgb(255, 255, 255);
}