<div class="container">
  <div id="okvir" class="col-sm-8 col-md-8 col-lg-8 offset-sm-2 offset-md-2 offset-lg-2">
    <section>
      <span class="linkedText" routerLink="/pocetna"> <i class="fas fa-chevron-left"></i> Pocetna </span>
    </section>
    <section>
      <label for="korisnickoIme">Korisnicko ime:</label>
      <input type="text" name="korisnickoIme" placeholder="Korisnik">
    </section>
    <section>
      <label for="lozinka">Lozinka:</label>
      <input type="password" name="lozinka" placeholder="*******">
    </section>
    <section>
      <label for="potvrda">Potvrdite lozinku:</label>
      <input type="password" name="potvrda" placeholder="*******">
    </section>
    <section>
      <span>Vec imate nalog?</span>
      <p class="linkedText" routerLink="/login"> Ulogujte se.</p>
    </section>
  </div>
</div>