<div class="container">
  <div id="okvir" class="col-sm-8 col-md-8 col-lg-8 offset-sm-2 offset-md-2 offset-lg-2">
    <div class="row rowMarg">
      <div class="col-md-10 offset-md-1">
        <span class="linkedText" routerLink="/pocetna">
          <i class="fas fa-chevron-left"></i> Pocetna
        </span>
      </div>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="login(loginForm)" method="post">
      <div class="row rowMarg">
        <div class="col-md-4 offset-md-1"><label for="email">Email:</label></div>
        <div class="col-md-5">
          <input type="email" formControlName="email" placeholder="email@email.domen">
        </div>
      </div>
      <div class="row rowMarg">
        <div class="col-md-4 offset-md-1"><label for="password">Lozinka:</label></div>
        <div class="col-md-6"><input type="password" formControlName="password" placeholder="*******"></div>
      </div>
      <div class="row" style="padding-bottom: 15px; padding-top: 15px;">
        <div class="col-md-6 offset-md-3">
          <button class="login btn btn-primary" type="submit" [disabled]="!loginForm.valid"> Login </button>
        </div>
      </div>
      <div class="rowMarg1">
        <div class="row">
          <div class="col-md-10 offset-md-2">
            <p>Nemate korisnicki nalog?</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 offset-md-2">
            <p class="linkedText" routerLink="/create"> Napravite novi nalog.</p>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<app-error [open]="errorOpened" [error]="errorMsg" (openChanged)="closingError()"></app-error>